################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.exe

/.vs

# Ignore all bin and obj directories
**/bin/
**/obj/

# Ignore test coverage results
**/coverage/
