################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.exe

/.vs
/src/CagCap/bin
/src/CagCap/obj
/test/bin/
/test/obj
/test/report
/test/coverage-report
/test/test-results
/OTS/src/Canable/bin
/OTS/src/Canable/obj
/OTS/src/UbloxGpsReceiver/bin
/OTS/src/UbloxGpsReceiver/obj
/src/Framework/obj
/src/DomainObject/obj
/src/DomainObject/bin/Debug/net8.0
/src/Application/obj
/src/BusinessLogic/obj
/src/Framework/bin/Debug/net8.0
/src/main/obj
/src/UI/bin/Debug/net8.0
/src/UI/obj
/test/Application/bin/Debug/net8.0
/test/Application/obj
/test/BusinessLogic/obj
/test/DomainObject/obj
/test/DomainObject/bin/Debug/net8.0
/test/Framework/bin/Debug/net8.0
/test/Framework/obj
/test/UI/bin/Debug/net8.0
/test/UI/obj
/OTS/test/Canable/bin/Debug/net8.0
/OTS/test/Canable/obj
/OTS/test/UbloxGpsReceiver/bin/Debug/net8.0
/OTS/test/UbloxGpsReceiver/obj
/src/Application/bin/Debug/net8.0
/src/BusinessLogic/bin/Debug/net8.0
/src/main/bin/Debug/net8.0
/test/BusinessLogic/bin/Debug/net8.0
