################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.exe

/.vs
/test/report
/test/coverage-report
/test/test-results

# Ignore all bin and obj directories
**/bin/
**/obj/

# Ignore test reports
/coveragereport
**/coverage.cobertura.xml
